*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
   background-color: #f3f4f6;
    min-height: 100vh;

}

.dark{
    background-color: #111827;
    color: #e5e7eb;
}

.container{
    width: 100%;
    min-height: 100vh;
}

.navbar-container{
    width: 100%;
    height: 7vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.light{
    background-color: #CCCCCC;

}

.toggleBtn {
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.toggleBtn.light {
    background: #333;
    color: #fff;
}

.toggleBtn.dark {
    background: #f5f5f5;
    color: #000;
}


@media screen and (min-width: 640px) {
    .navbar-container {
        justify-content: space-between;
    }
}
